.field_container {
	@apply relative flex w-full rounded-xl;
}
.input {
	@apply w-full rounded-xl border border-[#4070f4] bg-transparent bg-white px-4 py-3 text-sm outline-none focus:shadow-md;
}

.label {
	@apply absolute left-4 top-1/2 bg-white px-2 text-base font-light transition-all duration-150 ease-in-out;
	transform: translateY(-50%);
}

.focused {
	top: 0;
	left: 3px;
	font-size: 0.75rem;
	color: #4070f4;
}

.label_error {
	@apply text-red-500 peer-focus:text-red-500;
}

.error_message {
	@apply mt-3 text-xs;
}

.required {
	@apply border border-red-500 transition-all duration-500 ease-in-out;
}
